---
layout: default
title: Home
---

 <div class="content">
    <h2><img src="/archive/others/Peng.jpg" width="127" height="153" align="left" />&nbsp;&nbsp;Peng Zhang <strong>张鹏</strong></h2>
    <p>&nbsp;&nbsp;&nbsp;<a href="http://www3.imperial.ac.uk/commssigproc">Communications and Signal Processing Group</a><br />
      &nbsp;&nbsp;&nbsp;<a href="http://www3.imperial.ac.uk/electricalengineering">Department of Electrical and Electronic Engineering</a><br />
      &nbsp;&nbsp;&nbsp;<a href="http://www3.imperial.ac.uk">Imperial College London</a><br />
      &nbsp;&nbsp;&nbsp;South Kensington Campus <br />
      &nbsp;&nbsp;&nbsp;London SW7 2AZ,  United Kingdom</p>
    <p>&nbsp;&nbsp;&nbsp;Email: p.zhang12 (at) imperial.ac.uk</p>
            <blockquote>
              <p><a href="https://uk.linkedin.com/pub/peng-zhang/59/42a/682">Linkedin</a></p>
              <p><a href="https://github.com/p-zhang">GitHub</a></p>
            </blockquote>
    <p>&nbsp;</p>
<!-- end .content --></div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
