#---
#layout: default
#title: Home
#---

  <div class="content">
    <h2><img src="/archive/others/Peng.jpg" width="183" height="275" align="left" />&nbsp;&nbsp;Peng Zhang <strong>张鹏</strong></h2>
    <p>&nbsp;&nbsp;&nbsp;<a href="http://www3.imperial.ac.uk/commssigproc">Communications and Signal Processing Group</a><br />
      &nbsp;&nbsp;&nbsp;<a href="http://www3.imperial.ac.uk/electricalengineering">Department of Electrical and Electronic Engineering</a><br />
      &nbsp;&nbsp;&nbsp;<a href="http://www3.imperial.ac.uk">Imperial College London</a><br />
      &nbsp;&nbsp;&nbsp;South Kensington Campus <br />
      &nbsp;&nbsp;&nbsp;London SW7 2AZ,  United Kingdom</p>
    <p>&nbsp;&nbsp;&nbsp;Email: p.zhang12 (at) imperial.ac.uk</p>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <blockquote>
              <p><a href="http://www3.imperial.ac.uk/electricalengineering/about/location">	Direction</a></p>
              <p><a href="http://www.booking.com/">Hotels</a></p>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
    <p>&nbsp;</p>
    <p class="message">
"Take some more tea," the March Hare said to Alice, very earnestly.

"I've had nothing yet," Alice replied in an offended tone, "so I can't take more."

"You mean you can't take less," said the Hatter: "it's very easy to take more than nothing."
</p>
  <!-- end .content --></div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
